input,
select {
    padding: 1.5rem;

    font-size: 1.6rem;

    background-color: transparent;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0.35em;
}

input {
    width: 100%;
    text-align: right;
}

select {
    max-width: 10rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input[type="number"] {
    appearance: textfield;
}
